
#header {
    width: 100%;
    height: 100vh;
    font-size: 50px;
    line-height: 100px;
    text-transform: uppercase;
    font-weight: bold;
    background: url(/images/content/backgrounds/background_2.jpg) no-repeat;
    background-size: cover;
    #header-title {
        
        text-align: center;
        text-transform: uppercase;
        margin: 0 auto;
        color: white; 
        animation-delay: 0.3s;
        animation-duration: 1s;
    }
}

#nav {
    width: 100%;
    height: 60px;
    font-size: 20px;
    line-height: 60px;
    background: #333;
    color: white;
    position: relative;
    z-index: 3;
    text-transform: uppercase;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        li {
            float: left;
            a {
                display: block;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }
        }   
    }
}
    
.sticky {
    position: fixed !important;
    top: 0;
}