body {
    padding: 0;
    margin: 0;
    width: 100%;
    font-family: 'Archivo';
}


section {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: auto;
    background-color: DodgerBlue;
    flex-direction: column;
    flex-grow: 1;
    div {

    }
}


.section-title {
    text-align: center;
    text-transform: uppercase;
    margin-top: 100px;

}

.section-content {
    padding: 0 30%;
    text-align: left;
}

#intro {
    font-size:16px;
    margin:0 auto 0;
    width: 100%;
}

#skills {
    font-size:16px;
    margin:0 auto 0;
    width: 100%;
    .services-grid {
        display: -webkit-box;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        .service {
            width: 30vw;
            background: #fff;
            margin: 20px;
            padding: 20px;
            border-radius: 4px;
            text-align: center;
            -webkit-box-flex: 1;
            flex: 1;
            display: -webkit-box;
            display: flex;
            flex-wrap: wrap;
            border: 2px solid #e7e7e7;
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            transition: all 0.3s ease;

            background:#fff;
            > * {
                flex: 1 1 100%;
            }

    


            h4 {
                font-family: 'Montserrat', sans-serif;
                font-weight: 600;
                color: #56ceba;
                font-size: 1.3rem;
                margin: 1rem 0 0.6rem;
            }
            i {
                font-size: 3.45rem;
                margin: 1rem 0;
            }
            &:hover {
                -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
                -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
                box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
            }
        }
        .service1 {
            i, h4, .cta {
                color: #42b7ca;
            }
            &:hover{
                border: 2px solid #42b7ca;  
            } 
        }
        .service2 {
            i, h4, .cta {
                color: #425fca;
            }
            &:hover {   
                border: 2px solid #425fca;
            }
        }
    }
}

#portfolio {
    font-size:16px;
    margin:0 auto 0;
    width: 100%;
}

#contacts {
    font-size:16px;
    margin:0 auto 0;
    width: 100%;
}


@mixin btn-draw($color, $color-hov, $width: 1px, $padding: 0.5em, $time: 0.2s) {
    position: relative;
  
    display: inline-block;
  
    color: $color;
    border-bottom: $width solid $color;
    cursor: pointer;
    overflow: hidden;
    transition: color $time ease-in-out, background-color $time ease-in-out;
  
    &:after {
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;
  
      height: 100%;
      width: $width;
  
      background: $color;
      transform: translateY(100%);
      transition: transform $time ease-in-out;
      transition-delay: $time * 3;
    }
  
    > span {
      position: relative;
  
      display: block;
      padding: $padding;
  
      color: inherit;
  
      &:before, 
      &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
  
        background: $color;
        transition: transform $time ease-in-out;
      }
  
      &:before {
        height: $width;
        width: 100%;
        
        transform: translateX(100%);
        transition-delay: $time * 2;
      }
  
      &:after {
        height: 100%;
        width: $width;
  
        transform: translateY(-100%);
        transition-delay: $time;
      }
    }
  
    &:hover:after, 
    &:hover > span:before, 
    &:hover > span:after {
      transform: translate(0, 0);
    }
  
    &:hover:after {
      transition-delay: 0s;
    }
  
    &:hover > span:before {
      transition-delay: $time;
    }
  
    &:hover > span:after {
      transition-delay: $time * 2;
    }
  
    &:hover {
      color: $color-hov;
      background-color: $color;
      transition-delay: $time * 3;
    }
  }
  
  // Color variables
  $color-blue: #324577;
  $color-grey: #e4e4e2;
  
  // Start of styling
  * {
    box-sizing: border-box;
  }

  a {
    font-size: 2em;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.1em;
  }

  .btn-draw {
    @include btn-draw($color-blue, $color-grey, 2px);
  }