#header {
  width: 100%;
  height: 50vh;
  font-size: 50px;
  line-height: 100px;
  text-transform: uppercase;
  font-weight: bold;
  background: url(/images/content/backgrounds/background_2.jpg) no-repeat;
  background-size: cover;
}

#nav {
  width: 100%;
  height: 60px;
  font-size: 20px;
  line-height: 60px;
  background: #ff5252;
  color: #fff;
  position: relative;
  margin-bottom: -60px;
  z-index: 3;
  text-transform: uppercase;
}

#nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.sticky {
  position: fixed !important;
  top: 0;
}

