#header {
  width: 100%;
  height: 100vh;
  font-size: 50px;
  line-height: 100px;
  text-transform: uppercase;
  font-weight: bold;
  background: url(/images/content/backgrounds/background_2.jpg) no-repeat;
  background-size: cover;
}

#header #header-title {
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  color: white;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

#nav {
  width: 100%;
  height: 60px;
  font-size: 20px;
  line-height: 60px;
  background: #333;
  color: white;
  position: relative;
  z-index: 3;
  text-transform: uppercase;
}

#nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#nav ul li {
  float: left;
}

#nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.sticky {
  position: fixed !important;
  top: 0;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  font-family: 'Archivo';
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  height: auto;
  background-color: DodgerBlue;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.section-title {
  text-align: center;
  text-transform: uppercase;
  margin-top: 100px;
}

.section-content {
  padding: 0 30%;
  text-align: left;
}

#intro {
  font-size: 16px;
  margin: 0 auto 0;
  width: 100%;
}

#skills {
  font-size: 16px;
  margin: 0 auto 0;
  width: 100%;
}

#skills .services-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
}

#skills .services-grid .service {
  width: 30vw;
  background: #fff;
  margin: 20px;
  padding: 20px;
  border-radius: 4px;
  text-align: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
      flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border: 2px solid #e7e7e7;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: #fff;
}

#skills .services-grid .service>* {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

#skills .services-grid .service h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #56ceba;
  font-size: 1.3rem;
  margin: 1rem 0 0.6rem;
}

#skills .services-grid .service i {
  font-size: 3.45rem;
  margin: 1rem 0;
}

#skills .services-grid .service:hover {
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.08);
  box-shadow: 0 5px 10px rgba(0,0,0,0.08);
}

#skills .services-grid .service1 i,
#skills .services-grid .service1 h4,
#skills .services-grid .service1 .cta {
  color: #42b7ca;
}

#skills .services-grid .service1:hover {
  border: 2px solid #42b7ca;
}

#skills .services-grid .service2 i,
#skills .services-grid .service2 h4,
#skills .services-grid .service2 .cta {
  color: #425fca;
}

#skills .services-grid .service2:hover {
  border: 2px solid #425fca;
}

#portfolio {
  font-size: 16px;
  margin: 0 auto 0;
  width: 100%;
}

#contacts {
  font-size: 16px;
  margin: 0 auto 0;
  width: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  font-size: 2em;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.1em;
}

.btn-draw {
  position: relative;
  display: inline-block;
  color: #324577;
  border-bottom: 2px solid #324577;
  cursor: pointer;
  overflow: hidden;
  -webkit-transition: color .2s ease-in-out,background-color .2s ease-in-out;
  transition: color .2s ease-in-out,background-color .2s ease-in-out;
}

.btn-draw:after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 2px;
  background: #324577;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
  -webkit-transition-delay: .6s;
          transition-delay: .6s;
}

.btn-draw>span {
  position: relative;
  display: block;
  padding: .5em;
  color: inherit;
}

.btn-draw>span:before,
.btn-draw>span:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  background: #324577;
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
}

.btn-draw>span:before {
  height: 2px;
  width: 100%;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition-delay: .4s;
          transition-delay: .4s;
}

.btn-draw>span:after {
  height: 100%;
  width: 2px;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
}

.btn-draw:hover:after,
.btn-draw:hover>span:before,
.btn-draw:hover>span:after {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.btn-draw:hover:after {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.btn-draw:hover>span:before {
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
}

.btn-draw:hover>span:after {
  -webkit-transition-delay: .4s;
          transition-delay: .4s;
}

.btn-draw:hover {
  color: #e4e4e2;
  background-color: #324577;
  -webkit-transition-delay: .6s;
          transition-delay: .6s;
}

#footer {
  font-size: 16px;
  margin: 0 auto 0;
  width: 100%;
  height: 25vh;
  background: #e5e5e5;
}

