.feedback {
  color: rgba(0,0,0,0.4);
  font-size: 0.8em;
  padding: 0 .25em;
  margin-top: 1em;
}

#password-strength-text {
  margin-top: -5px;
  margin-bottom: 1em;
}

#feedback-bubble {
  margin-top: 20px;
  position: relative;
  width: 100%;
  padding: 0em;
  background: #fff;
  padding: .5em .7em;
  border-bottom: #0096fa solid .2em;
  font-size: 1em;
}

#feedback-bubble:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 0 15px 15px;
  border-color: #fff transparent;
  display: block;
  width: 0;
  z-index: 1;
  margin-left: -15px;
  top: -15px;
  left: 15%;
}

.passtrengthMeter .showPassword {
  top: 7px !important;
  z-index: 10;
}

.padding0 {
  padding: 0 !important;
}

.fa-eye,
.fa-eye-slash {
  position: absolute;
  right: 10px;
  z-index: 10;
  top: 10px;
  font-size: 15px;
}

.box-body .width100 {
  width: 100%;
}

.box-body table tbody tr .text-center {
  font-size: 12px;
}

.box-body table tbody tr td .fa-level-down {
  color: #337ab7;
}

.box-body table tbody tr td .right0 {
  position: absolute;
  right: 30px;
}

.box-body table tbody tr td .expand {
  margin-top: 15px;
}

.box-body table tbody tr td .expand .card-body a .red-square {
  background-color: #dd4b39;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  color: white;
  border-radius: 3px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #d73925;
}

.box-body table tbody tr td .expand .card-body a .red-square:hover {
  background: #d73925;
}

.scroll {
  overflow-y: scroll;
  height: 500px;
}

.blue-square {
  background-color: #337ab7;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 1.42857143 !important;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  color: white;
  border-radius: 3px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #337ab7;
}

.blue-square:hover {
  background: #367fa9;
}

